pandas==3.0.1
numpy==2.4.3
scikit-learn==1.8.0
joblib==1.5.3
streamlit==1.55.0
streamlit-lottie==0.0.5
requests==2.32.5
stripe==14.4.1
altair==4.2.2
rich==14.3.3
markdown-it-py==4.0.0
mdurl==0.1.2
pygments==2.19.2
